@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

body{
    background-color: black;
}

.fullscreen-video{
    position: fixed;
    overflow: hidden;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateY(-50%) translateX(-50%);
    z-index: -10;
    filter: opacity(80%);
}

.con{
    position: relative;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
    background-color: white;
    border-radius: 30px;
    border: 5px solid #7BFF80;
    max-width: 500px;
    height: 550px;
}

.title{
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 20px;
}

.title1{
    position: absolute;
    top: 180px;
    left: 10px;
    text-shadow: 0px 0px 2px black;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 40px;
    z-index: 10;
}

.title2{
    position: absolute;
    top: 80px;
    right: 10px;
    text-shadow: 0px 0px 2px black;
    text-align: right;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 40px;
    z-index: 10;
}

.social{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
}

.socialIcon{
    margin: 1px;
    padding: 5px;
    border-radius: 15px;
}

.socialIcon:hover{
    cursor: pointer;
    filter: drop-shadow(2px 2px 10px #477447);
    transition: .7s ease;
}

.con_Btn{
    display: flex;
}

.rat{
    position: absolute;
    left: 0px;
    top: 30px;
    width: 370px;
    height: auto;
    z-index: 1;
}

.con_Btn{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}

.Btn{
    min-width: 150px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    border: 5px solid #7BFF80;
    margin: 15px;
    padding: 10px;
}

.Btn:hover{
    cursor: pointer;
    background-color: #7BFF80;
    box-shadow: 5px 5px 40px #7BFF80;
    transition: .7s ease;
}

.flag{
    width: 120px;
    height: 80px;
    box-shadow: 0px 0px 5px black;
}

a{
    color: black;
    text-decoration: none;
}

@media(max-width: 1000px){
    .con{
        max-width: 800px;
        height: 700px;
    }

    .rat{
        top: 7px;
        width: 450px;
        height: auto;
    }

    .flag{
        width: 140px;
        height: 100px;
    }

    .title{
        font-size: 40px;
    }

    .title1{
        font-size: 55px;
    }

    .title2{
        font-size: 70px;
    }

    .Btn{
        min-width: 200px;
    }
}